body * {
    font-family: "sandoll-gothicneo2", sans-serif;
}

#topImage {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin-right: 8px;
}

.userProfileImage {
    width: 35px;
    height: 35px;
    margin-right: 8px;
    border-radius: 20px;
}

.chatProfileImage {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 3px;

}

.nickname {
    font-size: 13px;
}

.profile {
    margin-bottom: 15px;
}

#inwon {
    background: rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 28px;
    align-self: center;
    /*text-align: center;*/
    line-height: 28px;
    font-size: 12px;
    border-radius: 20px;
    font-weight: 200;
}

/* 왼쪽 유저 목록 */
#userList {
    width: 15%; /* 전체 화면의 15% 차지 */
    min-width: 130px; /* 최소 너비 */
    /*background: rgba(0,0,0,0.1);*/
    color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 15px;
    margin: 15px 0 15px 15px;
    display: flex;
    flex-direction: column; /* 내부 요소를 세로 정렬 */
    /*box-shadow: 3px 3px 5px rgba(0,0,0,0.3);*/
    overflow-y: auto; /* 스크롤 가능하도록 */
    font-size: 14px;
}

/* Chrome, Edge, Safari에서 적용 */
#userList::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
}

#userList::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px; /* 둥근 모서리 */
}

#userList::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 10px;
}

/* 상단 박스 */
#header {
    display: flex;
    height: 40px;
    border-radius: 18px;
    margin-top: 15px;
    background: rgba(0, 0, 0, 0.3);
    align-items: center; /* 수직 가운데 정렬 */
    /*color: white;*/
    padding: 20px;
    /*align-self: flex-end;*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

/*#chatTitle{*/
/*    margin-left: 15px;*/
/*}*/

#popoverBtn {
    display: flex;
    margin-left: auto;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    /*margin-right: 20px;*/
}

#subscribe {
    color: rgba(255, 255, 255, 0.7);
}

/* 아래 영역을 가로 배치 */
#main {
    display: flex;
    flex: 1; /* 남은 공간을 모두 차지 */
    overflow: hidden;
    width: 100%;
}

/* 오른쪽 채팅 영역 */
#chat {
    flex: 1; /* 남은 공간을 모두 차지 */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    max-height: 100%;
    margin: 10px 20px 10px 10px;
    min-width: 300px;
}

#chatBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: normal;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    min-height: 200px; /* 최소 높이 설정 */
    /*max-height: 770px;*/
    width: 100%;
    overflow-y: auto; /* 스크롤 가능하도록 */
    background: rgba(0, 0, 0, 0.3); /* 투명도 적용*/
    /*box-shadow: 3px 3px 10px rgba(0,0,0,0.3);*/
    /*backdrop-filter: blur(1px);*/
    min-width: 300px;
}

/* Chrome, Edge, Safari에서 적용 */
#chatBox::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
}

#chatBox::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px; /* 둥근 모서리 */
}

#chatBox::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#chatInput {
    display: flex;
    height: 50px;
    padding-top: 8px;
}

.chatImage {
    max-width: 200px;
    border-radius: 10px;
    width: 100%;
}

.myMessage .chatImage {
    justify-content: flex-end;
    text-align: right;
}


#chatInput input {
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#imageInputBtn {
    margin-right: 5px;
    width: 35px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

#messageInput {
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    font-weight: 300;
}

#chatInput input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

#sendBtn {
    margin-left: 5px;
    width: 60px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.myMessage {
    display: flex;
    flex-direction: row; /* row 방향 유지 */
    justify-content: flex-end; /* 내부 요소들을 오른쪽 정렬 */
    align-items: flex-end;
    font-size: 14px;
    text-align: left;
}

.myContents {
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.4);;
    padding: 8px;
    color: #dfdfdf;
    border-radius: 15px;
    display: inline-block;
    max-width: 45%;
    align-self: flex-end;
    margin-bottom: 15px;
    font-size: 14px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin-left: 5px;
}

.otherMessage {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    /*gap: 5px; !* 프로필과 말풍선 사이 간격 *!*/
    font-size: 14px;
}

.otherContents {
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.7);;
    font-size: 14px;
    padding: 8px;
    color: #232323;
    border-radius: 10px;
    align-self: flex-start;
    margin-bottom: 15px;
    margin-top: 8px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin-right: 5px;
    max-width: 100%;
    text-align: left !important;
}

.date {
    text-align: center;
    color: #494949;
    font-size: 14px;
    margin: 5px 0;
}

.otherChatProfile {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    /*display: block;*/
}

.infoMessage {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);;
    border-radius: 20px;
    text-align: center;
    color: #ededed;
    font-size: 12px;
    margin: 5px auto;
    word-wrap: break-word; /* 긴 단어 줄바꿈 */
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 60%;
    min-width: fit-content;
}

.timeContents {
    display: flex;
    /*flex-direction: row;*/
    width: 45%;
    align-self: flex-start;
}

.timestamp {
    font-size: 12px;
    color: #a1a1a1;
}

.myTimestamp {
    position: relative;
    top: -15px;
}

.otherTimestamp {
    display: flex;
    align-items: flex-end;
    position: relative;
    top: -15px;
}

#popoverImage {
    width: 150px;
}

/* 모달 스타일 */
.chatModal {
    display: none; /* 처음에는 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.chatModal.show {
    opacity: 1;
    transform: scale(1); /* 자연스럽게 확대 */
}

#modalImage {
    max-height: 60vh;
    max-width: 70vh;
}

/* 모달 내부 콘텐츠 */
.modalContent {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.disableClick {
    pointer-events: none;
    opacity: 0.5; /* 선택사항: 비활성화 시 시각적 효과 */
}