
/*.loginwindow{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 350px;*/
/*    height: 520px;*/
/*    background: linear-gradient(135deg, rgba(232, 232, 232, 0.2), rgba(255, 255, 255, 0.1)); !* 투명도 적용*!*/
/*    border-radius: 20px;*/
/*    backdrop-filter: blur(5px); !* 배경 흐림 효과 *!*/
/*    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); !* 그림자 추가 *!*/
/*    color: white;*/
/*}*/
body * {
    font-family: sandoll-gothicneo1, sans-serif;
}

.loginbtn{
    margin-top: 10px;
}

.loginbtn:hover{
    cursor: pointer;
}
.sunimg{
    width: 150px;
}

#welcome{
    font-size: 50px;
    color: rgba(255,255,255,0.8);
}

#bitsync{
    font-size: 25px;
    color: rgba(255,255,255,0.8);
}
#logintext{
    font-size: 15px;
    color: rgba(255,255,255,0.6);
}