<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.boot.minichatproject.mapper.FcmMapper">

    <insert id="insertToken" parameterType="String">
        insert into chatFcmTokens (token)
        values (#{token})
    </insert>

    <select id="selectTokens" resultType="String">
        select token from chatFcmTokens
    </select>

    <delete id="deleteToken" parameterType="String">
        delete from chatFcmTokens
        where token = #{token}
    </delete>

</mapper>